# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: FuLong ma の Blog
name: fulong ma
email: mafulong97@gmail.com
location: ChangSha, China
company: CSU
company_url: http://www.csu.edu.cn/
github_url: https://github.com/mafulong
description: This is personnel website of me
# favicon: favicon.png # Image must be in assets/images
favicon: favicon.jpg # Image must be in assets/images  it's modefied by mfl in 0311, gakki's jpg
top-up: topup.png
# 这个也是文章链接的地址
url: https://mafulong.github.io # the base hostname & protocol for your site

## Gem
gems:
  - jekyll-paginate
  - jekyll-geo-pattern
  - rouge
  - kramdown
  - jekyll-github-metadata

# Build settings
markdown: kramdown
highlighter: rouge
lsi:         false
excerpt_separator: "\n\n"

source:      .
destination: ./_site

quiet:    false
defaults: []

kramdown:
  input: GFM
  enable_coderay: true

# Disque
# disque: httpdongchuangithubio.disqus.com
disque: mafulong.disqus.com

# Pagination
paginate: 10
paginate_path: 'page:num'

# Navigation
navs:
  -
    href: /
    label: Home

  -
    href: /open-source
    label: Open-Source

  -
    href: /blog
    label: Blog

  -
    href: /bookmark
    label: Bookmark
    
  # -
  #   href: /av
  #   label: Av
  
  -
    href: /five-chess
    label: Five-chess

  -
    href: /about
    label: About



# Sidebar to show popular repo
side_bar_repo_limit: 6 # Number of repos to show

# Google Analytics
analytics :
  provider : google
  google :
      tracking_id : 'UA-72165600-1'


# For about.html. Fell free to create your own!
skill_software_keywords: [Java, C, C++, Qt, Python, MySQL, Oracle, SQLite, PL/SQL, Design Patterns]
skill_j2ee_keywords: [Spring, Struct, Hibernet, MyBatis, JSP]
skill_web_keywords: [HTML, CSS, JS, JQuery, Ajax, AngularJS, NodeJS, ExpressJS, MongoDB, Redis, PHP, Symfony, Boostrap]
skill_mobile_app_keywords: [Android, Sketch UI Desgin]
