<div class="about row">

        <h2>About Me</h2>

        <p>Software engineer.</p>

        <h2>Contact</h2>

        <ul>
            <li>weixin: 15073179216</li>
            <li>Email: <a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>github: <a href="{{ site.github_url }}">@mafulong</a></li>
        </ul>
        <h2>Articles</h2>
        <ul>
            <li><a href="https://www.hindawi.com/journals/wcmc/2018/8052620/">《A Time and Location Correlation Incentive Scheme for Deep Data Gathering in Crowdsourcing Networks》</a></li>
        </ul>

<!-- 
<script type="text/javascript">
    var message_Path = '/live2d/'
    var home_Path = 'https://mafulong.top/'  //此处修改为你的域名，必须带斜杠
</script>
<script type="text/javascript" src="/live2d/js/live2d.js"></script>
<script type="text/javascript" src="/live2d/js/message.js"></script>
<script type="text/javascript">
    loadlive2d("live2d", "/live2d/model/tia/model.json");
</script> -->
</div>

