<div class="row">
   
    <div class="col-md-8">
        {% assign sortedtags = site.tags | sort %}
        {% for tag in sortedtags %}
        <h2 id='{{ tag | first }}'>{{ tag | first }}</h2>
        <ul id="posts-list">
            {% assign pages_list = tag[1] %} 
            {% for node in pages_list %} {% if node.title != null %} {% if group == null or group == node.group %}
            <li class="posts-list-item">
                <div class="posts-content">
                    <span class="posts-list-meta">{{ node.date | date: "%Y-%m-%d"}} -----</span>
                    <a class="posts-list-name bubble-float-left" href="{{ site.url }}{{ node.url }}">{{ node.title }}</a>
                    <span class='circle'></span>
                </div>
            </li>
            {% endif %} {% endif %} {% endfor %} {% assign pages_list = nil %}
        </ul>
        {% endfor %}


    </div>
    
    <div class="col-md-4" id="categorywahh">
        <!-- {% include sidebar-post-tag.html %} -->
        <h3 class="sidebar-title">Algorithm Topics</h3>
        <div id="blog-categories">
            <ul class="list-group">
                {% for tag in site.tags %}
                <li class="list-group-item" onclick="(function(){document.getElementById('{{ tag | first }}').scrollIntoView(); })()">
                    {{ tag | first }}&nbsp;
                    <span class="badge">{{ tag[1].size }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        // Enable bootstrap tooltip
        $("body").tooltip({

            selector: '[data-toggle=tooltip]'
        });
    });
</script>