---
layout: default
---

{% assign assets_base_url = site.url %}
{% if site.cdn.jsdelivr.enabled %}
{% assign assets_base_url = "https://cdn.jsdelivr.net/gh/" | append: site.repository | append: '@'| append: site.cdn.jsdelivr.branch %}
{% endif %}
<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
    <div class="container">
        <div class="columns">
            <div class="column three-fourths">
                <div class="collection-title">
                    <h1 class="collection-header">{{ page.title }}</h1>
                </div>
            </div>
            <div class="column one-fourth mobile-hidden">
                {% include sidebar-qrcode.html %}
            </div>
        </div>
    </div>
</section>
<!-- / .banner -->
<section class="container content">
    <div class="columns">
        <div class="column three-fourths">
          <div class="mobile-visible">
            {% include sidebar-categories-cloud.html %}
            {% include sidebar-post-nav.html %}
          </div>
            <article class="article-content markdown-body">
                {{ content }}
            </article>
            <div class="share mobile-hidden">
                {% include sns-share.html %}
            </div>
            <div class="comment mobile-hidden">
                {% include comments.html %}
            </div>
        </div>
        <div class="column one-fourth">
          <div >
            {% include sidebar-search.html %}
          </div>
          <div class="mobile-hidden">
            {% include sidebar-categories-nav.html %}
          </div>
        </div>
    </div>
</section>
<!-- /section.content -->